:root {
  /* Colors */
  --accent: goldenrod;
  --input: gold;

  /* Z-index */
  --z-index-blur: 1;
  --z-index-ui: 2;
  --z-index-saturate: 3;
  --z-index-scanlines: 4;

  /* Shadows */
  --drop-shadow-3d: drop-shadow(-2px -2px 4px #f002) drop-shadow(2px 2px 4px #0ff2);

  /* Font Size */
  --font-size-normal: 24px;

  --small-gap: 0.2rem;
  --normal-gap: 0.5rem;

  /* Defaults */
  accent-color: var(--accent);
}

* {
  box-sizing: border-box;

  /* Font */
  font-family: "Jersey 15", sans-serif;
  font-size: var(--font-size-normal);
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(1px, -1px);
  }
  75% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

html,
body,
h1,
p {
  all: unset;
}

html {
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  justify-content: end;
  gap: 1rem;

  > div {
    display: flex;
    gap: 4px;
    min-width: 4rem;
    text-align: right;
  }
}

main {
  position: relative;
  display: block;
  flex-grow: 1;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(circle at 50% 50%, rgb(0, 0, 2) 0, black 100%); */
  animation: bg 60s linear infinite;
  filter: var(--drop-shadow-3d);
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/space.jpg");
  background-size: cover;
  filter: contrast(1.2) saturate(0.3);
}

h1 {
  font-size: 48px;
  text-align: center;

  > span {
    font-size: inherit;
  }
}

#hints {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  color: white;
  width: 100%;
  z-index: var(--z-index-ui);
  filter: var(--drop-shadow-3d);
}

kbd {
  border: 3px solid white;
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
}

.menu {
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-index-ui);

  &#main-menu {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    align-items: center;
    gap: var(--normal-gap);
    width: 100%;

    > h1 {
      font-size: 100px;
      grid-column: span 4;
    }

    > button {
      grid-column: 2 / span 2;
    }

    > label {
      display: contents;

      > span {
        grid-column: 2;
      }

      > input {
        grid-column: 3;
      }
    }
  }

  &#pause-menu {
    display: none;
    align-items: stretch;
    background-color: #000d;
    backdrop-filter: blur(2px);
    padding: 1rem;
    gap: var(--normal-gap);
    width: 420px;
    filter: var(--drop-shadow-3d);
    border: 2px solid white;
  }
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--small-gap);
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  z-index: var(--z-index-ui);
  filter: var(--drop-shadow-3d);

  > div {
    display: flex;
    gap: var(--small-gap);
    align-items: center;
  }

  #hp {
    margin: unset;
    padding: unset;
    display: flex;
    list-style-type: none;
    gap: 4px;
    min-width: 4rem;
    text-align: right;
    color: red;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#overlay-scanlines {
  background: repeating-linear-gradient(
    rgba(0, 0, 0, 0.1) 0px,
    rgba(0, 0, 0, 0.1) 2px,
    rgba(255, 255, 255, 0.1) 2px,
    rgba(255, 255, 255, 0.1) 4px
  );
  background-blend-mode: color-burn;
  z-index: var(--z-index-scanlines);
}

#overlay-blur {
  backdrop-filter: blur(1px);
  z-index: var(--z-index-blur);
}

#overlay-saturate {
  backdrop-filter: saturate(5);
  z-index: var(--z-index-saturate);
}

button {
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  border: 3px white solid;
  border-radius: unset;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: goldenrod;
    border-color: goldenrod;
    color: black;
    cursor: pointer;
    animation: shake 0.1s ease-in-out infinite;
  }

  &.negative:hover {
    background-color: red;
    border-color: red;
    color: black;
  }

  &:active {
    filter: brightness(0.5);
  }
}

label {
  display: flex;
  align-items: center;
  gap: var(--normal-gap);
  color: white;

  > input[type="number"] {
    color: var(--input);
    background-color: black;
    width: 4rem;
    border: none;

    &:hover {
      animation: shake 0.1s ease-in-out infinite;
    }
  }

  > input[type="range"] {
    flex-grow: 1;
  }

  > input[type="checkbox"] {
    margin: unset;
    width: 26px;
    height: 26px;

    &:hover {
      animation: shake 0.1s ease-in-out infinite;
    }
  }
}

#game-over {
  display: none;
  grid-template-columns: repeat(3, auto);
  place-content: center;
  justify-content: center;
  background-color: #000d;
  backdrop-filter: blur(2px);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  gap: var(--small-gap) var(--normal-gap);
  width: 550px;
  font-size: 24px;
  z-index: var(--z-index-ui);
  filter: var(--drop-shadow-3d);
  border: 2px solid white;

  > h1 {
    grid-column: span 3;
    display: flex;
    align-items: center;

    > :first-child {
      text-align: left;
      flex-grow: 1;
    }
  }

  > button {
    margin-block-start: 0.5rem;
    grid-column: span 3;
  }

  .game-over-stat {
    display: contents;
    color: white;
  }

  .game-over-stat :nth-child(2) {
    color: var(--input);
  }

  .new-best {
    color: var(--accent);
    animation: shake 0.1s ease-in-out infinite;
  }

  .previous-best {
    color: gray;
  }
}
