:root {
  --font-default: ;
  --font-size-default: ;

  --z-index-ui: 1;
  --z-index-blur: 2;
  --z-index-scanlines: 3;

  --drop-shadow-3d: drop-shadow(-2px -2px 4px #f002) drop-shadow(2px 2px 4px #0ff2);

  accent-color: gold;
}

* {
  box-sizing: border-box;

  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

html {
  padding: unset;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;
}

body {
  margin: unset;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  justify-content: end;
  gap: 1rem;

  > div {
    display: flex;
    gap: 4px;
    min-width: 4rem;
    text-align: right;
  }
}

main {
  position: relative;
  display: block;
  flex-grow: 1;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/space.jpg");
  background-size: cover;
  filter: contrast(1.2) saturate(0.3);
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(circle at 50% 50%, rgb(0, 0, 2) 0, black 100%); */
  animation: bg 60s linear infinite;
  filter: var(--drop-shadow-3d);
}

h1 {
  all: unset;
  font-size: 48px;
}

p {
  all: unset;
}

#hints {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  color: white;
  width: 100%;
  z-index: var(--z-index-ui);
  filter: var(--drop-shadow-3d);
}

kbd {
  border: 1px solid white;
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
}

#menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000d;
  backdrop-filter: blur(2px);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  gap: 0.2rem;
  width: 420px;
  font-size: 24px;
  z-index: var(--z-index-ui);
  filter: var(--drop-shadow-3d);
  border: 2px solid white;
}

label {
  padding: 0.5rem 1rem;
  display: block;
  color: white;

  > input[type="number"] {
    width: 4rem;
    color: gold;
    background-color: black;
    border: none;
  }
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.2rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  z-index: var(--z-index-ui);
  filter: var(--drop-shadow-3d);
}

#stats > div {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

#stats #hp {
  margin: unset;
  padding: unset;
  display: flex;
  list-style-type: none;
  gap: 4px;
  min-width: 4rem;
  text-align: right;
  color: red;
}

#overlay-scanlines {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    rgba(0, 0, 0, 0.1) 0px,
    rgba(0, 0, 0, 0.1) 2px,
    rgba(255, 255, 255, 0.1) 2px,
    rgba(255, 255, 255, 0.1) 4px
  );
  background-blend-mode: color-burn;
  pointer-events: none;
  z-index: var(--z-index-scanlines);
}

#overlay-blur {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px) saturate(5);
  pointer-events: none;
  z-index: var(--z-index-blur);
}

button {
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  border: 2px white solid;
  border-radius: unset;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: goldenrod;
  color: black;
  cursor: pointer;
}

#game-over {
  display: none;
  grid-template-columns: repeat(3, auto);
  place-content: center;
  justify-content: center;
  background-color: #000d;
  backdrop-filter: blur(2px);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  gap: 0.2rem;
  width: 550px;
  font-size: 24px;
  z-index: var(--z-index-ui);
  filter: var(--drop-shadow-3d);
  border: 2px solid white;
}

#game-over > h1 {
  grid-column: span 3;
}

#game-over > button {
  margin-block-start: 0.5rem;
  grid-column: span 3;
}

.game-over-stat {
  display: contents;
  color: white;
}

.game-over-stat :nth-child(2) {
  color: gold;
}

.new-best {
  color: goldenrod;
}

.previous-best {
  color: gray;
}
