* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: end;
  gap: 1rem;

  > div {
    display: flex;
    gap: 4px;
    min-width: 4rem;
    text-align: right;
  }
}

html {
  padding: unset;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;
}

body {
  margin: unset;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  position: relative;
  display: block;
  flex-grow: 1;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgb(0, 0, 2) 0, black 100%);
  animation: bg 60s linear infinite;
}

#hints {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  color: white;
  width: 100%;
}

kbd {
  background-color: white;
  color: black;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
}

#menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #0008;
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

label {
  padding: 0.5rem 1rem;
  display: block;
  background-color: black;
  color: white;
  border: 2px white solid;

  > input[type="number"] {
    width: 4rem;
    color: white;
    background-color: black;
    border: none;
  }
}

#stats {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* horizontal scanlines */
  background: repeating-linear-gradient(
    rgba(0, 0, 0, 0.1) 0,
    rgba(0, 0, 0, 0.1) 2px,
    rgba(255, 255, 255, 0.05) 2px,
    rgba(255, 255, 255, 0.05) 4px
  );
  backdrop-filter: blur(1px) saturate(5);
  pointer-events: none;
}

button {
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  border: 2px white solid;
  border-radius: unset;
}
